<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="item-dropdown.component.scss">
</head>

<body>
  <div class="caixa">
    <div class="percent-1">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div class="number">
        <h2>Skill 1</h2>
      </div>
      <h3>Oh father, stop</h3>
    </div>

    <div class="percent-2">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div class="number">
        <h2>Skill 2</h2>
      </div>
      <h3>Ai pai, para</h3>
    </div>

    <div class="percent-3">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div class="number">
        <h2>Skill 3</h2>
      </div>
      <h3>Ai, papá, pare</h3>
    </div>

  </div>
</body>
